<div class="container" style="margin: 50px auto;">
    {{!-- Iniciofila 1 --}}
    <div class="row">
        <div class="col">
            <p class="text-end">Hola {{usuario}}!
                <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesión<i
                        class="fa fa-sign-out"></i></a>
            </p>
        </div>
    </div>
    {{!-- fin de la fila 1 --}}
    {{!-- Inicio fila 2 --}}
    <div class="row">
        <div class="col-7" style="margin-top: 9px ;">
            <h2>Listado de Almohadones</h2>
        </div>
        <div class="col-5 text-end">
            <a href="#" class="btn btn-success"><i class="fa fa-plus"></i>Nuevo</a>
        </div>
    </div>
    {{!-- fin fila 2 --}}
    {{!-- inicio fila 3 --}}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Título</th>
                        <th scope="col" class="text-center">Cuerpo</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each almohadones}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{cuerpo}}</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-sm btn-secondary"><i class="fa fa-pencil"></i></a>
                            <a href="/admin/almohadones/eliminar/{{id}}" class="btn btn-sm btn-secondary"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{!-- finde la fila 3 --}}
</div>