<div class="container" style="margin: 50px auto;">
    {{!-- Inicio fila 1 --}}
    <div class="row">
        <div class="col">
            <p class="text-end">Hola {{usuario}}!
                <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesión<i
                        class="fa fa-sign-out"></i></a>
            </p>
        </div>
    </div>
    {{!-- fin de la fila 1 --}}
    {{!-- Inicio fila 2 --}}
    <div class="row">
        <div class="col-7 mt-2" style="margin-top: 9px;">
            <h2>Listado de Almohadones</h2>
        </div>
        <div class="col-3">
            <form class="d-flex" action="/admin/almohadones" method="get">
                <input class="form-control" type="search" placeholder="Search" arial-label="Search" name="q" {{#if q}}
                    value="{{q}}" {{/if}}>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"
                        aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <div class="col-2 text-end">
            <a href="/admin/almohadones/agregar" class="btn btn-success "><i class="fa fa-plus me-2"></i>Nuevo</a>
        </div>
    </div>
    {{!-- fin fila 2 --}}
    {{!-- inicio fila 3 --}}
    <div class="row mt-3">
        <div class="col">
            <table class="table table-bordered table-hover align-middle text-centerr">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Imagen</th>
                        <th scope="col" class="text-center">Título</th>
                        <th scope="col" class="text-center">Cuerpo</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each almohadones}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{{imagen}}}</td>
                        <td>{{titulo}}</td>
                        <td>{{cuerpo}}</td>
                        <td class="text-center">
                            <div class="d-inline-flex">
                                <a href="/admin/almohadones/modificar/{{id}}" class="btn btn-sm btn-secondary me-1"><i
                                        class="fa fa-pencil"></i></a>
                                <a href="/admin/almohadones/eliminar/{{id}}" class="btn btn-sm btn-secondary"><i
                                        class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{#if is_search}}
                {{#unless almohadones.length}}
                No se encuentra resultados para "<b>{{q}}</b>"
                {{/unless}}
            {{/if}}
        </div>
    </div>
    {{!-- finde la fila 3 --}}
</div>